SNOWFLAKE_ACCOUNT="YOUR SNOWFLAKE ACCOUNT I.E PRD/POC/SBX/IPMTEST"
SNOWFLAKE_PRIVATE_KEY_PATH="~/.ssh/Private_key.p8"
SNOWFLAKE_REGION="YOUR SNOWFLAKE ACCOUNT REGION"
SNOWFLAKE_USER="SERVICE ACCOUNT"

---------EXAMPLE-------------
export SNOWFLAKE_ACCOUNT="sp25153"
export SNOWFLAKE_PRIVATE_KEY_PATH="~/.ssh/snowflake_tf_snow_key.p8"
export SNOWFLAKE_REGION="ap-southeast-1"
export SNOWFLAKE_USER="SA_TF_RSM"